@import url(./__item/nav__item.css);
@import url(./__item/_active/nav__item_active.css);

.nav {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
