@import url(./_opened/popup__container_opened.css);
@import url(./_closed/popup__container_closed.css);

.popup__container {
  position: relative;
  height: 80vh;
  width: min(1200px, 90vw);
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  z-index: 11;
  padding: 40px 20px;
}
